<nav-bar></nav-bar>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="content-panel">
        <div class="table-responsive" >
          <h3> {{ 'Loan' }} </h3>
          <table class="table table-condensed table-hover" style="width: auto;">
            <thead style="background:#f9f9f9">
            <tr>
              <th>{{ 'Price' }}</th>
              <th>{{ 'Quantity' }}</th>
              <th>{{ 'Fee' }}</th>
              <th>{{ 'Status' }}</th>
              <th>{{ 'Feedcode' }}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let loan of loans">
              <td> {{ loan.price }} </td>
              <td> {{ loan.quantity }} </td>
              <td> {{ loan.fee }} </td>
              <td> {{ loan.status }} </td>
              <td> {{ loan.feedcode }} </td>
            </tr>
            </tbody>
          </table>
        </div>
        <h3> {{ 'Stock Inventory' }} </h3>
        <div class="table-responsive" >
          <table class="table table-condensed table-hover" style="width: auto;">
            <thead style="background:#f9f9f9">
            <tr>
              <th>{{ 'Price' }}</th>
              <th>{{ 'Quantity' }}</th>
              <th>{{ 'Fee' }}</th>
              <th>{{ 'Status' }}</th>
              <th>{{ 'Feedcode' }}</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let iv of inventories">
              <td> {{ iv.price }} </td>
              <td> {{ iv.quantity }} </td>
              <td> {{ iv.fee }} </td>
              <td> {{ iv.status }} </td>
              <td> {{ iv.feedcode }} </td>
              <td>
                <button type="button" pbutton class="btn btn-default btn-xs" (click)="onTakeDown(iv)">
                  <span>{{ 'take down' }}</span>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>

<p-dialog
  [(visible)]="showDialog" [responsive]="true" [modal]="true"
  [draggable]="false" [breakpoint]="500" [class.ui-dialog-titlebar]="true"
  [style]="{ 'position': 'absolute'}" >
  <p-header >
    {{ 'Subtract' }}
  </p-header>

  <form class="form-horizontal" #form1="ngForm" (ngSubmit)="onSubtract()">
    <div class="form-group">
      <label class="control-label col-sm-2">{{ 'Quantity' }}</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" [(ngModel)]="quantity" name="quantity" min="0" step="0.01">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary btn-sm btn-right">{{ 'Submit' }}</button>
        <button type="button" class="btn btn-default btn-sm btn-right" (click)="onCancel()">{{ 'Cancel' }}</button>
      </div>
    </div>
  </form>
</p-dialog>
